.content {
        background-image:url('joshua-gerosa-659132-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left:30%!important;
        margin-right:30%!important;
        margin-top: 15%;
        box-sizing: content-box;
    }
    .container-fluid {
      background-color:#000;
      display:flex;
      opacity: 0.7;
      flex-direction: column;
      padding: 10px!important;
      width: 100%;
      border: 3px solid black;
      align-items: stretch!important;

    }
input {
      width:100%!important;
      height:44px!important;
      margin-top:9px!important;
      box-sizing: border-box; /* add this */
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:7px;
}

.btn-primary {
  margin-bottom: 13px!important;
}

.login_link {
  margin-left: auto;
  margin-right:auto;
  size: 34px;
  padding-bottom:10px;
}
